/* General styles */
body {
    margin: 0;
    padding: 0;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.section {
    height: 115vh;
    scroll-snap-align: start;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 1.5em;
    text-align: center;
}

#socials {
    background-image: url('spacebackground.png');
    background-size: cover;
    background-position: center;
}
/* Styles for the About, Socials, and Projects sections in night mode */
#about {
    background-image: url('aboutmobile.JPEG');
    background-size: cover;
    background-position: center;
}

#project1 {
    background-image: url('project1mobile.JPEG');
    background-size: cover;
    background-position: center;
}

#project2 {
    background-image: url('project2mobile.JPEG');
    background-size: cover;
    background-position: center;
}

#project3 {
    background-image: url('project3mobile.JPEG');
    background-size: cover;
    background-position: center;
}

#project4 {
    background-image: url('project4mobile.JPEG');
    background-size: cover;
    background-position: center;
}

#socials {
    background-image: url('spacebackground.png');
    background-size: cover;
    background-position: center;
}

.logo {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}
