/* Styles for the Welcome page */
.welcome-page {
    background-image: url('daytime.JPEG');
    background-size: cover;
    background-position: center;
}
/* Styles for the Welcome page in night mode */
body.night-mode .welcome-page {
    background-image: url('nighttime.JPEG');
}

/* Style for the image in the Welcome section */
.welcome-image {
    width: 200px;
    height: auto;
    transform: translateX(-700px);
    animation: floatAnimation 5s linear infinite;
}
/* Day mode styles 
.toggleBtn {
    background-image: url('SunToggle.PNG');
}

/* Night mode styles 
.toggleBtn {
    background-image: url('MoonToggle.png');
}*/

/* Define keyframes for the animation */
@keyframes floatAnimation {
    0% {
        transform: translate(-700px, 200px);
    }
    50%{
        transform: translate(.50, 200px);
    }
    100% {
        transform: translate(700px, 200px);
    }
}

.celestial-body {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    animation: scaleInOut 10s infinite alternate;
}

@keyframes scaleInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.toggle-btn {
    position: fixed;
    bottom: 20px;
    right: -10px;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 180px;
    height: 100px;
}

/* Day mode styles */
.toggle-btn {
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 70px; /* Adjust width as needed */
    height: 70px; /* Adjust height as needed */
    background-image: url('SunToggle.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    z-index: 1000; /* Ensure button appears on top */
}

/* Night mode styles */
body.night-mode .toggle-btn {
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 70px; /* Adjust width as needed */
    height: 70px; /* Adjust height as needed */
    background-image: url('MoonToggle.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    z-index: 1000; /* Ensure button appears on top */
}
