/* Styles for the Welcome page */
.welcome-page {
    background-image: url('welcomemobile.JPEG');
    background-size: cover;
    background-position: center;
    width: 100vw; /* Set width to full viewport width */
    height: 177.78vw; /* Set height to maintain 9x16 aspect ratio (100vw * 9 / 16) */
}

/* Style for the image in the Welcome section */
.welcome-image {
    width: 25vh; /* Adjust width based on viewport height */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Position the image absolutely */
    top: 50%; /* Position the image vertically centered */
    left: -25vh; /* Initial position off the left side of the viewport */
    animation: floatAnimation 5s linear infinite;
}


/* Define keyframes for the animation */
@keyframes floatAnimation {
    0% {
        transform: translateX(-25vh); /* Initial position off the left side */
    }
    50% {
        transform: translateX(50vw); /* Mid position */
    }
    100% {
        transform: translateX(125vw); /* Final position off the right side */
    }
}

.celestial-body {
    position: absolute;
    top: 5vw; /* Adjust top position based on viewport width */
    left: 5vw; /* Adjust left position based on viewport width */
    width: 10vw; /* Adjust width based on viewport width */
    animation: scaleInOut 10s infinite alternate;
}

@keyframes scaleInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
